.container{
    display: flex;
    border: 1px solid black;
    width: 60%;
    margin: auto;
    /* precisamos tomar muito cuidado para não confundir o alinhamento do container com o alinhamento dos itens que estão dentro do container */

}