/* Flexbox (display: flex) é uma evolução do float, mas não o elimina. Os dois podem ser utilizados de forma complementar

-> sempre utilizaremos um container e os itens (elementos) que vão ficar dentro dele 
-> a propriedade display: flex SEMPRE fica no container 

*/

.container{
    border:1px solid black;
    height: 500px;
    display: flex;
    /* flex-direction: column-reverse */
    flex-direction: row;
    /* por padrão o flexBox não respeita a largura dos itens e coloca todos na mesma linha - para modificarmos isso, precisamos
    utilizar a propriedade flex-wrap */
    flex-wrap: wrap;

    /* Alinhamento das divs filhas */
    justify-content: center; /* justify - faz o alinhamento na horizontal */
    align-items: flex-end;    /* align - faz o alinhamento na vertical */
}

.item{
    width: 20%;
    height: 200px;
    background-color: red;
    border: 1px solid black;
    /* width: 40%; */
} 