@media only screen and (max-width:600px) {
    body{
        background-color: yellow;
    }
}

@media only screen and (min-width:600px) {
    body{
        background-color: orange;
    }
}

@media only screen and (min-width:768px) {
    body{
        background-color: blue;
    }
}

@media only screen and (min-width:992px) {
    body{
        background-color: rgb(54, 187, 54);
    }
}

@media only screen and (min-width:1200px) {
    body{
        background-color: palevioletred;
    }
    h1{
        font-size: 35px;
    }
}